body {
    font-family: Arial, sans-serif;
    background-color: goldenrod;

}

#headings {
    text-align: center;
    text-decoration: underline;
}
input, textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}