body {
    font-family: Arial, sans-serif;
    background-color: goldenrod;
    text-align: left;
    
}

#heading{
    text-align: center;
    text-decoration: underline;
}
input, textarea {
    width: 400px;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid #02971b;
    font-size: 16px;
}
label{
    display: block;
    font-weight: bold;
   
}
button {
   background-color: rgb(4, 109, 55);
   border: none;
   border-radius: 5px;
   font-size: 16px;
}
