body {
    font-family: Arial, sans-serif;
    background-color: goldenrod;

}

#headings {
    text-align: center;
    text-decoration: underline;
}
input, textarea {
    width: 70px;
    height: 40px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
button {
   color: rgb(28, 237, 49);
   
    cursor: pointer;
    font-size: 16px;
    
}
